.experiencia-background {
  background-color: #f5f5f5;
}


.experiencia {
  max-width: 75rem;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #f5f5f5;
  gap: 100px;
}


.experiencia--texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #495872;
}

.experiencia--texto strong {
  color: #314159;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.empresa--ano {
  position: absolute;
  top: 20px;
  left: -50px;
  font-size: 0.875rem;
  color: #314159;
  text-align: left;
  width: 42px;
}

.empresa--titulo {
  font-size: 1.125rem;
  color: #314159;
  position: relative;
  font-weight: 700;
  line-height: 1.1;
}

.empresa--titulo::before {
  content: "";
  display: block;
  width: 10px;
  height: 4px;
  background: linear-gradient(#FBA33C, #F2972C);
  position: absolute;
  top: 8px;
  left: -20px;
}

.empresa--cargo {
  font-size: 1.125rem;
  color: #314159;
  font-weight: 700;
}

.empresa--texto {
  font-size: 0.875rem;
  color: #495872;
  line-height: 1.45;
}

.empresa--habilidades {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1rem;
  gap: 10px;
  align-content: start;
}

.empresa--habilidades li {
  color: #314159;
  font-weight: bold;
  padding: 5px 10px;
  background: linear-gradient(180deg, #FBA33C 0%, #F2972C 100%);
  border-radius: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia--texto {
  font-size: 1.25rem;
  max-width: initial;
  }

  .empresa--ano {
    position: initial;
    order: 1;
  }

}

@media (max-width: 600px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
